*
!.gitignore
!.github/
!.github/**
!docs/
!docs/**
!examples/
!examples/**
!markdown/
!markdown/**
!screenshots/
!screenshots/**
!src/
!src/**
!tests/
!tests/**
!verilog/
!verilog/**
!README.md
!ROADMAP.md
!pyproject.toml

__pycache__/
.pytest_cache/
*.egg-info/
build/
